<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="stylesheet" type="text/css" href="{{ "/static/css/bootstrap.min.css" | prepend:site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ "/static/css/deadlines.css" | prepend:site.baseurl }}?t={{site.time | date: '%s'}}" media="screen,projection">
    <link rel="shortcut icon" href="{{ "/static/img/favicon.png" | prepend:site.baseurl }}">
    <script type="text/javascript" src="{{ "/static/js/jquery.min.js" | prepend:site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/static/js/jquery.countdown.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/moment.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/moment-timezone-with-data.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/store.min.js" | prepend:site.baseurl }}"></script>
    <script src="{{ "/static/js/ouical.min.js" | prepend:site.baseurl }}"></script>
    <script type="text/javascript" charset="utf-8">
        // Borrowed from https://github.com/moment/moment-timezone/issues/167
        // Adds support for time zones 'UTC-12'..'UTC+12'
        function addUtcTimeZones() {
          // Moment.js uses the IANA timezone database, which supports generic time zones like 'Etc/GMT+1'.
          // However, the signs for these time zones are inverted compared to ISO 8601.
          // For more details, see https://github.com/moment/moment-timezone/issues/167
          for (let offset = -12; offset <= 12; offset++) {
            const posixSign = offset <= 0 ? '+' : '-';
            const isoSign = offset >= 0 ? '+' : '-';
            const link = `Etc/GMT${posixSign}${Math.abs(offset)}|UTC${isoSign}${Math.abs(offset)}`;
            moment.tz.link(link);
          }
        }
        addUtcTimeZones();
    </script>
</head>
